*.jpg
*.jpeg
*.zip
*.pyc
*.csv
*.h5
*.pb
tensorflow_hub/
transfer_learning/
training_logs/
10_percent_mode_checkpoints_weights/
101_food_classes_big_dog/
model_experiments/
model_logs/
skimlit_tribrid_model/